/** Light Theme */
.theme--light.v-list {
	background: #f5f5f5 !important;
}
.theme--light.v-tabs > .v-tabs-bar {
	background-color: #f5f5f5 !important;
}

/** Dark Theme */
.theme--dark.v-list {
	background: #272727 !important;
}
.theme--dark.v-tabs > .v-tabs-bar {
	background-color: #272727 !important;
}