/**
 * @author 신민경
 * @create date 2022-06-20 16:06:23
 * @desc 모든 SCSS 파일에서 사용할 변수에 대한 정의만 작성됨 (이 파일은 vue.config.js에 적용함)
 */

// vuetify의 일부 변수를 사용할 수 있음
@import '~vuetify/src/styles/styles.sass';

@import 'https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=block';

// vuetify Globals (vuetify에 자동으로 오버라이드 됨)
$body-font-family: 'Malgun Gothic', 'Noto Sans', sans-serif;
$heading-font-family: $body-font-family;
$font-size-root: 15px;

// 사용자 정의 변수
// 변수를 사용하면 SCSS 어디에서든 사용 가능함
$color-primary: #6667AB;
$color-error: #ffff;