.sign_container {
	height: 100%;
	min-width: 100%;
	padding: 0%;
	.sign_row {
		height: 100%;
		margin: 0%;
		justify-content: center;
		align-content: center;
		.sign_logo {
			align-self: center;
			text-align: center;
		}
		.sign_col {
			align-self: center;
		}

	}
}
.theme--light {
	//.progress_linear {
	//	color: $color-primary;
	//}
	.sign_btn {
		box-shadow: none;
		background-color: $color-primary !important;
		.sign_btn_txt {
			color: white;
		}
	}
	.sign_txt_field {
		color: $color-primary !important;
	}
}